<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
      <li class="breadcrumb-item active">Features</li>
    </ul>
  </div>
</div>  
<div class="container">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="mb-5"><i class="fa fa-plus mr-2"></i> Add New Features</h4>
      <%= render 'form', feature: @feature %>
    </div>
  </div>
</div>
