<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Admin', admin_dashboard_path %></li>
      <li class="breadcrumb-item active">Features</li>
    </ul>
  </div>
</div>  

<div class="form mt-5">
  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-5"><i class="fa fa-plus mr-2"></i> Add New Features</h4>
        <%= render 'form', feature: @feature %>
      </div>
    </div>
  </div>  
</div>
