<header>
  <nav class= "navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Home", admin_dashboard_path, class: "navbar-brand btn btn-primary btn-sm" %>
    <ul class="navbar-nav">
    </ul>
  </nav>
</header>
