<%= form_for q, url: :search_drivers, method: :get, html: {class: 'mt-3'} do |f| %>
  <div class="input-group mb-1">
    <%= f.text_field :city_or_address_or_state_or_country_cont, class: "form-control input-lg", "aria-describedby" => "basic-addon2", id: "autocomplete", placeholder: "Search drivers by city", required: :true, onFocus: "geolocate()" %>
    <%= hidden_field_tag :latitude, id: :latitude %>
    <%= hidden_field_tag :longitude, id: :longitude %> 
    <div class="input-group-append">
      <button class="btn btn-outline-dark btn-sm" type="submit"><i class="fa fa-search"></i> Search</button>
    </div>
  </div>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFBYM37YGMTdgkEp9fipPljSjprTDZL8Y&libraries&libraries=places&callback=initAutocomplete"></script>
