<div class="container">
  <h4 class="mt-4" id="notice" style="display: none;color: red">Note: Pay atleast 20% of the amount</h4>
  <div class="card mt-4 mb-3">
    <div class="card-header">
      <h1>New booking</h1>      
    </div>
    <div class="card-body">
      <%= render 'form', booking: @booking %>
      <%= link_to 'Back', bookings_path, class: "btn btn-secondary mt-2" %>      
    </div>
  </div>
</div>
