<div class="contanier">
  <div class="card"> 
    <div class="card-header">
      <h1>Editing Agency</h1>      
    </div>
    <div class="card-body">
      <%= render 'form', agency: @agency %>
      <%= link_to 'Show', admin_agency_path(@agency), class: "btn btn-success mt-2" %> 
    </div>
  </div>
</div>


