<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Plans', admin_plans_path %></li>
      <li class="breadcrumb-item active"><%= @plan.name %></li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="mb-5"><i class="fas fa-pencil-alt mr-2"></i> Edit Plan</h4>
      <%= render 'form', plan: @plan %>
    </div>
  </div>
</div>
