<div class="container">
  <div class="card shadow">
    <div class="card-body">
      <h3 class="mb-5"><i class="fa fa-plus mr-2"></i> Add New Plan</h3>
      <%= render 'form', plan: @plan %>
    </div>
  </div>
</div>
