<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
      <li class="breadcrumb-item active">Plans</li>
    </ul>
  </div>
</div> 
<div class="container">
  <div class="card shadow">
    <div class="card-body">
      <h3 class="mb-5"><i class="fa fa-plus mr-2"></i> Add New Plan</h3>
      <%= render 'form', plan: @plan %>
    </div>
  </div>
</div>
