<div class="container">
  <div class="card mt-5 mb-3">
    <div class="card-header">
      <h1>New Driver</h1>      
    </div>
    <div class="card-body">      
      <% if current_user.agency.drivers.count >= 3 %>
        <p>Subscribe to create more drivers</p>
           <%= link_to "View Our Pricing Plans", pricing_path, class: "btn btn-primary" %>
      <% else %>
        <%= render 'form', driver: @driver %>
      <% end %>
    </div>
  </div>
</div>


