.image{
  width:130px;
  border: 1px solid #ccc;
}
 .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link{
    color: white !important;
}

.font-16 {
    font-size:16px !important;
}
.jumbotron-mb-0 {
    margin-bottom:0px;
}
.vl {
  border-left: 1px solid grey;
  height: 327px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.vl2 {
  border-left: 1px solid grey;
  height: 381px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
 .social-login{
    width:300px;
    margin:0 auto;
    margin-bottom: 14px;
}

.facebook-btn{  background-color:#3C589C; }

.google-btn{ background-color: #DF4B3B; } 

.social-btn{
    font-weight: 100;
    color:white;
    width:290px;
}    

.image-holder .bg{
  opacity: 0.5;
  width: 100%;
  height: 500px;
}
.font-12{
  font-size: 12px;
  font-weight: 300;
}
.bg-2{
  background-color: #0093FF;
  color: white;
}
.bg-3{
  background-color: #0093FF;
  color: white;
}

