<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
      <li class="breadcrumb-item active">Users</li>
    </ul>
  </div>
</div> 

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card rounded-0">
        <div class="card-body">
          <h1>New User</h1>
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
